# This is a sample AWS credentials file. Update your access_key and secret_key accordingly.
# Make a copy of this file and renate it to aws.credentials.rf

provider "aws" {
  region     = "us-west-2"
  access_key = "my-access-key"
  secret_key = "my-secret-key"
}