# This is a sample AWS credentials file. Update your access_key and secret_key accordingly.
# Make a copy of this file and renate it to aws.credentials.rf

variable "aws_credentials_access_key" {
  description = "access_key"
  type        = string
  default     = "my-access-key"
}

variable "aws_credentials_secret_key" {
  description = "secret_key"
  type        = string
  default     = "my-secret-key"
}